body {
    background-color: #FFFFFF;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    font-family: "Arial", Verdana, Tahoma, sans-serif, serif;
    color: #FFFFFF;
    font-style: normal;
    font-size: 100%;
}
.calcBody {
padding: 50px;
background-color: #a7a6a6;
max-width: 840px;
margin: 50px;
}
.numberButtons {
    background-color: #716f6f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .operatorButtons {
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .equalButton {
    background-color: #b4e4ae;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .clearButton {
    background-color: #efa4a4;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
